.friendList{
  margin-top: 20px;
}
.item{
    display: flex;
    margin-top: 5px;
    gap: 15px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.134);

}
.status {
  margin: auto 15px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}

.isActive {
  background-color: green;
}
.avatar {
  width: 60px;

}
.name {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}